mat-form-field{
  margin-right: 10px;
}
.contact-us-form {
  margin-top: 20px;
  padding-right: 150px;
}
.submit-button {
  background: transparent;
  margin-bottom: 65px;
  background-color: #0A97CC;

}
.submit-button:hover{
  background-color: #00339A;
  color: #fff;
}
.body-image {
  min-height: 550px;
  background-image: url("../../assets/Images/Banner-3-contact-us.jpg");
  background-repeat: no-repeat;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
}
.container.contact {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}
.heading-banner {
  margin-top: 50px;
  color: #fff;
  display: block;
  font-size: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 44px;
  text-indent: 24px;

}
.heading {
  margin-top: 50px;
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}




