<div fxLayout="column">
  <div>
    <app-header></app-header>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
  <h1>About Us</h1>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name">
    </mat-form-field>
  </div>

</div>
</div>
