mat-form-field{
  margin-right: 10px;
}
.contact-us-form {
  margin-top: 50px;
}
.submit-button {
  background: transparent;
  margin-bottom: 65px;
  background-color: #0A97CC;

}
.submit-button:hover{
  background-color: #00339A;
  color: #fff;
}
.body-image {
  min-height: 550px;
  background-image: url("../../assets/Images/Banner-3-contact-us.jpg");
  background-repeat: no-repeat;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
}
