<div>
  <app-header></app-header>
</div>
<div fxLayout="column">
  <div class="body-image">
    <div class="info" fxLayout="column" fxFlex="80">
      <h1 class="heading">Your Adventure Awaits</h1>
      <p class="paragraph">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <button mat-flat-button class="contact-us-button" (click)="onContactUsClick()">
        Contact Us
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" class="info-container">
    <h2 class="heading-content">
      About Us
    </h2>
    <p style="width:60%; text-align:center;">
      The corporate principle of INSOURCE SOFTWARE SOLUTIONS aims to provide the highest quality product, complete
      customer satisfaction, prompt solution delivery, and the greatest quality/price ratio available in the sector.
    </p>
  </div>

    <div fxLayout="row" fxLayoutAlign="space-around center center">
      <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="billing-image">
            <img src="../../assets/Images/about-us-page/billing-system.png" alt="">
          </div>
        </div>
        <div fxLayout="row " fxLayoutAlign="center">
          <h4 class="heading-content ">
            Billing System
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We make billing System for your business Strengthen your cash flow, speed up the billing process and
            minimize the errors in billing process.
          </p>
        </div>
    </div>
    <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="web-image">
            <img src="../../assets/Images/about-us-page/web-development.png" alt="">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="heading-content ">
            Website Design & Development
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We develop website according to your need. We master development technologies such as Angular, React,
            HTML, CSS, bootstrap for robust developments.
          </p>
        </div>
    </div>
    <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="crm-image">
            <img src="../../assets/Images/about-us-page/crm.png" alt="">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="heading-content">
            CRM/CMS Systems
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We develop custom CRM and CMS according to your need. We master development technologies such as PHP,
            Java or
            Ruby on Rails for robust developments.

          </p>
        </div>
    </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center center">
      <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="ecommerce-image">
            <img src="../../assets/Images/about-us-page/e-commerce-portal.png" alt="">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="heading-content ">
            E-Commerce System
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We are providing you with the best E-Commerce services based on your requirements.
          </p>
        </div>
    </div>
    <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="iot-image">
            <img src="../../assets/Images/about-us-page/iot.png" alt="">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="heading-content ">
            IOT System
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We develop IoT systems according to your requirements for smart homes or industrial needs to connect
            your devices.
          </p>
        </div>
    </div>
    <div class="about_card" (click)="onProvidedServiceClick()">
        <div class="about_img-container">
          <div class="mobdev-image">
            <img src="../../assets/Images/about-us-page/mobile-app-devp.png" alt="">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h4 class="heading-content">
            Mobile Development
          </h4>
        </div>
        <div class="paragraph-content">
          <p>
            We develop Android and IOS application and designed them to solve complex challenges with intuitive
            interfaces.
          </p>
        </div>
    </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" class="about-content">
      <div fxLayout="row" fxLayoutAlign="center center"><img src="../../assets/Images/logos/logo-web.jpg" class="about-logo"></div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="end">
        <p>
          <br><br>
          <b class="heading-content">About Insource Software Solutions</b>
          <br>
          We create unique, imaginative products and services at INSOURCE SOFTWARE SOLUTIONS that offer comprehensive
          information and communication solutions. We provide a wide range of services, some of which include web design
          and development, mobile application development, CMS and CRM development, E-Commerce solutions,
          business-to-business and business-to-client apps, the creation of IoT systems, and contemporary billing
          administration systems.
          <br>
          Development and promotion of cutting-edge information technology for multi-user operation is our overarching
          goal.
          <br>
          The corporate principle of INSOURCE SOFTWARE SOLUTIONS aims to provide the highest quality product, complete
          customer satisfaction, prompt solution delivery, and the greatest quality/price ratio available in the sector.
          Our aim is on providing a high level of product usability through an upbeat, imaginative, and committed
          workforce.
        </p>
      </div>
    </div>

  <div>
    <app-footer></app-footer>
  </div>
</div>
