<div fxLayout="column">
  <div>
    <app-header></app-header>
  </div>
  <div class="body-image">
    <div class="info" fxLayout="column" fxFlex="80">
      <h1 class="heading">Your Adventure Awaits</h1>
      <p class="paragraph">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <button mat-flat-button class="contact-us-button" (click)="onContactUsClick()">
        Contact Us
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" class="info-container">
    <p class="container-heading">Why Insource Software Solutions?</p>
    <h2 class="container-h2">
      We are the one where Innovation Meets Excellence
    </h2>
    <p>
      We are a fast growing startup creating the best possible experience for
      our customers.
    </p>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="about_card-container layout_padding2-top">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="billing-image">
                <img src="../../assets/Images/about-us-page/billing-system.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                Billing System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="cms-image">
                <img src="../../assets/Images/about-us-page/CMS.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                CMS System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="crm-image">
                <img src="../../assets/Images/about-us-page/crm.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content">
                CRM System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="about_card-container layout_padding2-top">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="ecommerce-image">
                <img src="../../assets/Images/about-us-page/e-commerce-portal.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                E-Commerce System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="iot-image">
                <img src="../../assets/Images/about-us-page/iot.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                IOT System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="mobdev-image">
                <img src="../../assets/Images/about-us-page/mobile-app-devp.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content">
                Mobile Development
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
