.body-image {
  min-height: 550px;
  background-image: url("../../assets/Images/banner-about-us.jpg");
  background-repeat: no-repeat;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
}
.heading {
  width: 35%;
  color: #f9f9f9;
  font-size: 62px;
  line-height: 1.2;
}
.paragraph {
  width: 35%;
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
}
.heading-content {
  width: 40%;
  font-size: 24x;
  line-height: 1.2;
  font-weight: bold;
  padding: 2px;
  margin-right: 3px;
  text-align: center;
}
.paragraph-content {
  font-size: 16px;
}
.info {
  padding: 100px;
}
.contact-us-button{
  width: fit-content;
  background: transparent;
  margin-right: 10px;
  background-color: #0A97CC;
}

.about_card-container {
  display: flex;
  justify-content: center;
}

.about_card .about-detail {
  padding: 2px 25px 35px 25px;
}

.about_img-container {
  width: 225px;
  height: 225px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 25px solid #d7daf4;
  margin: 0 auto 45px auto;
}

.layout_padding2-top {
  padding-top: 45px;
}

.about_card img {
  width: 104%;
  position: relative;
}
.billing-image {
  position: relative;
  right: 4px;
  top: 4px;
}
.cms-image {
  position: relative;
  right: 7px;
  top: 8px;
}
.crm-image {
  position: relative;
  right: 6px;
  top: 4px;
}
.ecommerce-image {
  position: relative;
  right: 6px;
  top: 4px;
}
.iot-image {
  position: relative;
  right: 6px;
  top: 4px;
}
.mobdev-image {
  position: relative;
  right: 6px;
  top: 4px;
}
