<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div fxShow="true" fxHide.gt-xs="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon style="color: rgb(4, 89, 168);">menu</mat-icon>
      </button>
    </div>

    <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center" >
      <img (click)="onLogoClick()" class="logo" src="../../assets/Images/logos/logo-web-1.png" />
    </div>
    <div fxFlex="80" fxLayout="row" fxLayoutAlign="end center" fxShow="true" fxHide.lt-sm>
      <button mat-flat-button class="menu-buttons" (click)="onHomeClick()">
        Home
      </button>
      <button mat-flat-button class="menu-buttons" (click)="onAboutUsClick()">
        About Us
      </button>
      <button mat-flat-button class="menu-buttons" (click)="onServicesClick()">
        Services
      </button>
      <button mat-flat-button class="menu-buttons" (click)="onContactUsClick()">
        Contact Us
      </button>
      <button mat-flat-button class="menu-buttons" [disabled]="true" (click)="onJobAbroadClick()">
        Job Abroad
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-xs="true">
      <div fxLayout="row">
        <a mat-button (click)="onHomeClick()">Home</a>
        <a mat-button (click)="onAboutUsClick()">About Us</a>
        <a mat-button (click)="onServicesClick()">Services</a>
        <a mat-button (click)="onContactUsClick()">Contact Us</a>
        <a mat-button [disabled]="true" (click)="onJobAbroadClick()">Job Abroad</a>
      </div>
    </mat-sidenav>
