.logo {
  width: fit-content;
  height: 50px;
  padding: 10px;

}
.logo:hover{
  cursor: pointer;
}
.toolbar {
  background-color: rgb(255, 255, 255);
  padding: 2px;
  margin: 0;
  padding:0 ;
  top: 0;
}

.menu-buttons {
  background: transparent;
  margin-right: 10px;
  background-color: #0A97CC;
}
.menu-buttons:hover{
  background-color: #00339A;
  color: #fff;
}
.menu-buttons:disabled {
  background-color: #cccccc;
  color: black;
}



