.body-image {
  height: 500px;
  background-image: url("../../assets/Images/banner-10.jpg");
  background-repeat: no-repeat;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
}
