<div>
  <app-header></app-header>
</div>
<div fxLayout="column">
  <div class="body-image" fxFlex="100">
    <div class="info" fxLayout="column" fxFlex="80" >
      <h1 class="heading">Where Innovation Meets Excellence</h1>
      <p class="paragraph">
        Acme Outdoors has everything you need to help you get started today. Check out our wonderful collection of gear
        that will make your next adventure complete.
      </p>
      <button mat-flat-button class="contact-us-button" (click)="onContactUsClick()">
        Contact Us
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" class="info-container">
    <p class="container-heading">Why Insource Software Solutions?</p>
    <h2 class="container-h2">
      We are the one where Innovation Meets Excellence
    </h2>
    <p>
      We are a fast growing startup creating the best possible experience for
      our customers.
    </p>
    </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div class="about-column" (click)="onProvidedServiceClick()">
              <img src="../../assets/Images/home-page/billing-system.png" alt="Warranty Icon"
            class="image-content" />
          <h3 class="about-heading">Billing System</h3>
          <p>
            We make billing System for your business Strengthen your cash flow, speed up the billing process and
            minimize the errors in billing process.
          </p>
            </div>

            <div class="about-column" (click)="onProvidedServiceClick()">
              <img src="../../assets/Images/home-page/crm.png" alt="Warranty Icon" class="image-content" />
              <h3 class="about-heading">CMS / CRM System</h3>
              <p>
                We develop custom CMS and CRM according to your need. We master development technologies such as PHP, Java
                or Ruby on Rails for robust developments.
              </p>
            </div>

            <div class="about-column" (click)="onProvidedServiceClick()">
              <img src="../../assets/Images/home-page/e-commerce-portal.png" alt="Warranty Icon" class="image-content" />
              <h3 class="about-heading">E-Commerce Portal </h3>
              <p>
                We are providing you with the best E-Commerce services based on your requirements.
                Additionally, we deliver the ideal E-Commerce solutions to build,
                rebuild, and embellish your E-Commerce portal.
              </p>
            </div>
          </div>

           <div class="row wrap" fxLayoutAlign="space-around center">
        <div class="about-column" (click)="onProvidedServiceClick()">
          <img src="../../assets/Images/home-page/iot.png" alt="Warranty Icon" class="image-content" />
          <h3 class="about-heading">IOT System</h3>
          <p>
            We develop IoT systems according to your requirements for smart homes or industrial needs to connect your
            devices and make your life much easier.
          </p>
        </div>

        <div class="about-column" (click)="onProvidedServiceClick()">
          <img src="../../assets/Images/home-page/mobile-app-devp.png" alt="Warranty Icon" class="image-content" />
          <h3 class="about-heading">Mobile Application Development</h3>
          <p>
            We develop Android and IOS application and designed them to solve complex challenges with intuitive
            interfaces.
          </p>
        </div>

        <div class="about-column" (click)="onProvidedServiceClick()">
          <img src="../../assets/Images/home-page/web-development.png" alt="Warranty Icon" class="image-content" />
          <h3 class="about-heading">Web Development</h3>
          <p>
            We create powerful and complex Web Application for your business according to the industry’s latest tech
            trends.
          </p>
        </div>
      </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
