.body-image {
  min-height: 550px;
  background-image: url("../../assets/Images/banner-home.jpg");
  background-repeat: no-repeat;
  margin-top: 3px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  position: relative;
}
.heading {
  width: 35%;
  color: #f9f9f9;
  font-size: 62px;
  line-height: 1.2;
}
.paragraph {
  width: 35%;
  margin-bottom: 25px;
  color: #f9f9f9;
  font-size: 18px;
}
.info {
  padding: 100px;
}
.contact-us-button{
  width: fit-content;
  background: transparent;
  margin-right: 10px;
  background-color: #0A97CC;
}
.info-container {
  padding: 10px;
  margin-top: 20px;
  display: flex;
}
.container-heading {
  font-size: 14px;
  text-transform: uppercase;
}
.container-h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.about-column {
  width: 26%;
  padding: 20px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s
  box-shadow,.3s-webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.about-column:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.about-heading{
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  font-weight: bold;
}
.image-content{
  width: 100px;
 }
