<div fxLayout="column">
  <div>
    <app-header></app-header>
  </div>
    <div class="body-image">
      <div class="info" fxLayout="column" fxFlex="80">
        <h1 class="heading">Where Innovation Meets Excellence</h1>
        <p class="paragraph">
          Acme Outdoors has everything you need to help you get started today. Check out our wonderful collection of gear that will make your next adventure complete.
        </p>
        <button mat-flat-button class="contact-us-button" (click)="onContactUsClick()">
          Contact Us
        </button>
      </div>
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="about_card-container layout_padding2-top">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="../../assets/Images/billing.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                Billing System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="cms_image">
                <img src="../../assets/Images/CMS.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content ">
                CMS System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="crm_image">
                <img src="../../assets/Images/CRM.png" alt="">
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <h4 class="heading-content">
                CRM System
              </h4>
            </div>
            <div style="text-align: center;">
              <p class="paragraph-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div  fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="about_card-container layout_padding2-top">
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="ecommerce_Img">
              <img src="../../assets/Images/ecommerce.png" alt="">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <h4 class="heading-content ">
              E-Commerce System
            </h4>
          </div>
          <div style="text-align: center;">
            <p class="paragraph-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="iot_image">
              <img src="../../assets/Images/IOT.png" alt="">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <h4 class="heading-content ">
              IOT System
            </h4>
          </div>
          <div style="text-align: center;">
            <p class="paragraph-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
      <div class="about_card">
        <div class="about-detail">
          <div class="about_img-container">
            <div class="mob_dev_img">
              <img src="../../assets/Images/Mob-Dev.png" alt="">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <h4 class="heading-content">
              Mobile Development
            </h4>
          </div>
          <div style="text-align: center;">
            <p class="paragraph-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
  <div>
    <app-footer></app-footer>
  </div>
</div>

